default menu.c32
prompt 0
timeout 300
ONTIMEOUT local
menu title ########## PXE Boot Menu ##########
label 1
menu label ^1) Boot from local drive
{% for item in pxe_images %}
label {{ loop.index + 1 }}
menu label ^{{ loop.index + 1 }}) {{ item.name }} {{ item.arch }}
{% if item.method == 'memdisk' %}
root (hd0,0)
kernel memdisk
append iso initrd={{ item.url }} raw
{% else %}
kernel {{ pxe_images_relative }}/{{ item.name }}/{{ item.arch }}/{{ item.kernel }}
append initrd={{ pxe_images_relative }}/{{ item.name }}/{{ item.arch }}/{{ item.initrd }} method={{ item.method }} devfs=nomount ip=dhcp
{% endif %}
{% endfor %}
{{ pxe_menu_extra }}
